root = true

[*]
end_of_line = lf
insert_final_newline = true

[Makefile]
indent_style = tab

[*.js]
indent_style = space
indent_size = 2

[src/**.{cpp,cc,h}]
indent_style = space
indent_size = 2

[{package.json,*.yml,*.gyp}]
indent_style = space
indent_size = 2
